<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <title>Catapult!</title>

  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/estilo.css">
  
</head>

<script type="text/javascript" src="/estiloMapa.js"></script>
<script type="text/javascript" src="/mapa.js"></script>
<script type="text/javascript" src="/colores.js"></script>
<body>
  <nav>
    <div class="nav-container">
      <div class="right small">Con <i class="fa fa-heart" aria-hidden="true"></i> <a href="http://florius.com.ar" class=sub""><strong>Florius</strong>.com.ar</a></div>
      <div class="title"><a href="/"><i class="fa fa-car" aria-hidden="true"></i> Catapult</a></div>
    </div>
  </nav>
  <div class="wrapper">
    {{{body}}}
  </div>
</body>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{api}}&libraries=places&callback=initMapa"></script>
</html>
