<h2>Catapult!</h2>

<p>
    Imaginate tener que organizar para que varias personas vayan al mismo lugar, saliendo cada uno de un lugar diferente.<br />
    Algunos con auto, algunos sin.<br />
    Completo caos.
</p>

<p>
    Entra <a href="/">Catapult!</a>, un <em>"sistema"</em> para cargar como cada uno puede ir a un evento, sea con auto, o uniendose al auto de algún otro.
    Como usarlo? Simple:
    <ul>
        <li><a href="/evento">Crear un evento!</a></li>
        <li>Compartile la URL a los invitados</li>
        <li>Dejalos que se organizen</li>
        <li>???</li>
        <li>Profit!</li>
    </ul>
</p>
