<h2>
  Agregar un auto para {{evento.nombre}}
</h2>

<form action="/nuevoAuto" method="POST" onSubmit="javascript: return calcularRuta(this);">
  <input type="hidden" name="evento" value="{{evento._id}}"> <br />
  <input type="text" placeholder="Nombre Persona" name="duenio"> <br />
  Cantidad de asientos: <input type="number" min="0" value="0" name="asientosTotales"><br />
  <button type="submit">Crear!</button>
</form>

<div id="mappy" style="width:900px; height:550px;"></div>

<script type="text/javascript" src="/mapa.js"></script>
<script type="text/javascript">
  var mapa;
  function initMapa(){
    mapa = new Mapa("mappy");
    mapa.ruta(
      new google.maps.LatLng(-34.60368440000001, -58.381559100000004),
      new google.maps.LatLng{{{evento.destino}}}
    );
  }
  
  function calcularRuta(e){
    var input = document.createElement('input');
    input.type = 'hidden';
    input.name = 'ruta';
    input.value = mapa.guardar();
    e.appendChild(input);
    return true;
  }
</script>