<h2>
  Crear un evento
</h2>

<form action="/nuevoEvento" method="POST">
  <input type="text" placeholder="Nombre del evento" name="nombre"> <br />
  <input type="text" placeholder="Destino" name="destino"><br />
  <input type="datetime-local" name="dia"><br />
  <textarea name="descripcion"></textarea><br />
  <button type="submit">Crear!</button>
</form>